#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins, sans-serif';
  font-size: 18px;
}

#navbar li a:hover {
  background-color: #111;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-left:15px;
  margin-right: 15px;
  text-align:justify;
}


h1{
  text-align:center;
  color: #000000;
  font-family: 'Impact';
  font-size:45px;
}

h2{
  text-align:center;
  font-family: 'Impact';
  font-size: 38px;
  color: #000000;
}

img{
  margin:auto;
}

p{
  margin:40px;
  font-family: 'Poppins, sans-serif';
  font-size: 20px;
}

iframe{
  text-align:center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
